body {
	background-color: #f9d37f;
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.main {
	width: 90%;
	/*height: 100%;*/
	margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

h2 {
	text-align: center;
	margin-top: 20px;
	font-weight: 700;
}

h3 {
	font-size: 1.4em;
	font-weight: 700;
}

p {
	font-size: 1.0em;
}

.config {
	float: left;
	margin: 0 27px;
	/*margin: 0 auto;*/
}

.minutes {
	margin: 0 5px;
	font-size: 1.25em;
}

.clock {
	clear: both;
	margin: 30px auto;
	padding-top: 35px;
	font-size: 1.85em;
	/* circle */
	width: 200px;
	height: 200px;
	border: 1px solid #752610;
	border-radius: 50%;
}

.timer-name, .remaining-time {
	display: block;
	text-align: center;
}

.remaining-time {
	margin-top: 20px;
}

.break-minus, .break-plus, .session-minus, .session-plus {
	/*border: 1px solid red;*/
	padding: 5px;
}

/* TODO EDIT FROM HERE */

footer {
	padding-top: 15px;
	clear: both;
	text-align: center;
	font-size: 1.0em;
}

.ion-ios-heart {
	color: #752610; /*#885159;*/
}

a:link, a:hover, a:visited, a:active {
	color: #645188;
}

/* testing svg and mask here */
/* the issue is rather than masking in original dimensions
		the circle is expanding to fill width:height 1:1 whatever the rect size is;
		I want it to be reversed
		the dimensions should be static
		the rect should only display as much (but masked by the circle)
*/

.svg-clipped {
   -webkit-clip-path: url(#svgPath);
   clip-path: url(#svgPath);
}

.rect {
  position: absolute;
  /* initial top should be just below circle cy + r = 250px*/
  top: 250px;
  left: 0;
  width: 100%;
  /* height should be little > circle r*/
  height: 125px;
  background-color: #5D7FC0;
}

@media only screen and (min-width: 600px)  {

	h2 {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 768px) {

	.main {
		width: 80%;
	}

	h2 {
		text-align: center;
	}
}

@media only screen and (min-width: 992px) {

	/*body {
		background-position: 50% 40px, center;
	}*/

	/*.main {
		width: 80%;
	}*/
}

@media only screen and (min-width: 1200px) {

/*	.story-link {
		text-align: center;
	}*/
}