body {
	background-color: #f9d37f;
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.main {
	width: 90%;
	margin: 0 auto;
}

.flex-center {
	display: flex;
	justify-content: center;
}

h2 {
	text-align: center;
	margin-top: 20px;
	font-weight: 700;
}

h3 {
	font-size: 1.4em;
	font-weight: 700;
}

p {
	font-size: 1.0em;
}

.config {
	float: left;
	margin: 0 27px;
}

.minutes {
	margin: 0 5px;
	font-size: 1.25em;
}

.clock {
	clear: both;
	margin: 30px auto;
	padding-top: 35px;
	font-size: 1.85em;
	/* circle */
	width: 200px;
	height: 200px;
	border: 2px solid #752610;
	border-radius: 50%;
}

.session {
	background-color: #ff5b32;
}

.break {
	background-color: #5D7FC0;
}

.timer-name, .remaining-time {
	display: block;
	text-align: center;
}

.remaining-time {
	margin-top: 20px;
}

.break-minus, .break-plus, .session-minus, .session-plus {
	padding: 5px;
}

footer {
	padding-top: 15px;
	clear: both;
	text-align: center;
	font-size: 1.0em;
}

.ion-ios-heart {
	color: #752610;
}

a:link, a:hover, a:visited, a:active {
	color: #5D7FC0;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media only screen and (min-width: 600px)  {

	h2 {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 768px) {

	.main {
		width: 80%;
	}

	h2 {
		text-align: center;
	}
}

/*@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}*/