body {
	background-color: #f9d37f;
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.main {
	width: 90%;
	/*height: 100%;*/
	margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

h2 {
	text-align: center;
	margin-top: 20px;
	font-weight: 700;
}

h3 {
	font-size: 1.4em;
	font-weight: 700;
}

p {
	font-size: 1.0em;
}

.config {
	float: left;
	margin: 0 38px;
	/*margin: 0 auto;*/
}

.minutes {
	margin: 0 5px;
	font-size: 1.25em;
}

.clock {
	clear: both;
	margin: 30px;
	font-size: 1.85em;
}

.timer-name, .remaining-time {
	display: block;
	text-align: center;
}

.remaining-time {
	margin-top: 20px;
}

/* TODO EDIT FROM HERE */

footer {
	padding-top: 15px;
	clear: both;
	text-align: center;
	font-size: 0.85em;
}

.ion-ios-heart {
	color: #752610; /*#885159;*/
}

a:link, a:hover, a:visited, a:active {
	color: #645188;
}

@media only screen and (min-width: 600px)  {

	h2 {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 768px) {

	.main {
		width: 80%;
	}

	h2 {
		text-align: center;
	}
}

@media only screen and (min-width: 992px) {

	/*body {
		background-position: 50% 40px, center;
	}*/

	/*.main {
		width: 80%;
	}*/
}

@media only screen and (min-width: 1200px) {

/*	.story-link {
		text-align: center;
	}*/
}